/* Сброс стилей для всех элементов */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Подключение шрифтов */
@font-face {
    font-family: opensans;
    font-weight: normal;
    font-size: normal;
    src: url('../fonts/OpenSans-Italic.ttf');
}

@font-face {
    font-family: opensans;
    font-weight: 600;
    src: url('../fonts/OpenSans-Semibold.ttf');
}

/* Общие стили для контейнеров */
.container-fluid {
    width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* Flexbox для контейнеров */
.d-flex {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

/* Основные стили для body */
body {
    font-family: "opensans", Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 16px;
}

/* Стили для шапки */
header > .container {
    padding: 40px 20px;
}

header .burger {
    width: 40px;
    display: none;
    margin: 0 !important;
}

header .container .menu {
    display: flex;
    align-items: center;
}

header .container .menu a {
    font-size: 0.875em;
    text-decoration: none;
    color: #4b4b4e;
    margin: 0 20px;
}

header .container .menu a:hover,
header .container .menu a:active {
    color: #1E90FF;
    font-weight: 600;
    padding-bottom: 7px;
    border-bottom: 3px solid #1e89f5;
}

header form div {
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid #1E90FF;
    border-radius: 50px;
    width: 320px;
}

header form div input[type="text"] {
    border: none;
    margin-right: 10px;
}

header form div input[type="submit"] {
    background: url("../images/search.png") no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    border: none;
}

header form div input[type="submit"]:hover {
    cursor: pointer;
}

header .prof div a {
    font-size: 0.938em;
    color: #1E90FF;
}

header .prof div a {
    align-items: flex-start;
}

/* Стили для подвала */
footer {
    background-color: #4b4b4e;
    padding-top: 50px;
    padding-bottom: 20px;
}

footer .left {
    margin-right: auto;
    align-items: flex-start;
}

footer .left nav {
    display: flex;
    list-style: none;
    padding: 0;
}

footer .left nav a {
    color: #FFFFFF;
    font-size: 0.875em;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .left nav a:hover,
footer .left nav a.active {
    color: #1e89f5;
}

footer .left figure figcaption {
    color: #FFFFFF;
    font-size: 0.875em;
    margin-top: 25px;
    width: 120px;
}

footer .right form div {
    justify-content: left;
    width: 458px;
}

footer .right form input[type="text"] {
    padding: 8px 0;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #FFFFFF;
}

footer .container {
    align-items: flex-start;
}

footer .container .copyrights {
    margin-top: 0;
}



footer .right div {
    text-align: center;
    font-size: 0.875em;
    color: #FFFFFF;
    margin-top: 33px;
    margin-bottom: 15px;
}

footer .right .box {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 16px 16px 0;
}



footer .copyrights {
    text-align: center;
    color: aliceblue;
    font-size: 0.750em;
    margin-top: 60px;
}


/* Дополнительные стили */
header .container .menu,
footer .left nav {
    padding: 0;
}

header .container .menu li,
footer .left nav li {
    list-style: none;
    margin: 0;
}

footer .left nav {
    flex-direction: column;
}

footer .left nav a {
    margin-right: 0;
    margin-bottom: 10px;
}

/* В подвале пункты меню в столбик */
footer .left nav {
    flex-direction: column;
    margin-left: auto; /* Сдвигаем меню вправо */
}

footer .left nav a {
    margin-bottom: 10px;
}


header form div {
    margin-right: auto; 
}